extends ../components/base/layout

block variables
  - const title = "База данных билетов"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "task3.1.html"

block main
  main
    +table()
