extends ../components/base/layout

block variables
  - const title = "Таблица"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "task2.2.html"

block main
  main
    +blog()
