extends ../components/base/layout

block variables
  - const title = "Карточка мероприятия"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "task2.1.html"

block main
  main
    +event()
