.container {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  padding: 0 17px;

  @include vp-768 {
    padding: 0 60px;
    max-width: 950px;
  }

  @include vp-1440 {
    max-width: 1440px;
    padding: 0 167px;
  }
}
